<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home-style.css' />
  </head>
  <body>
    <h1 id="home-heading"><%= title %></h1>
    <p>Da li ste student ili profesor?</p>
    <div class="option-buttons">
      <div class="option-button1">
        <a href="/loginProf"> Profesor </a>
      </div>
      <div class="option-button2">
        <a href="/student"> Student </a>
      </div>
    </div>
    <div class="reg-block">
      <a href="/regProf">Registruj se</a>
    </div>
  </body>
</html>
